<h1>Send A Text Message</h1>
<p>Welcome! Use this page to send a text message to someone.</p>

<%= form_tag("/sms/send", method: "post") do %>
<%= label_tag(:q1, "Text Message:") %>
<%= text_field_tag(:q1) %><br>
<%= label_tag(:q2, "Phone Number:") %>
<%= text_field_tag(:q2) %><br>
<%= submit_tag("Send") %>
<% end %>
